@import '~antd/dist/antd.css';

.bgcolor{
    overflow: hidden;
}
.nav{
    height: 6.25rem;
    width: 100%;
    background-color: #2cbafe;
    display: flex;
    flex-direction: column;
    .nav-icon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.625rem;
        .info-text{
            font-size: 1.26933rem;
            color: #fff;
            padding-top: .2rem;
            white-space: nowrap;
        }
        .nav-search{
            width: 20.19733rem;
            height: 2.28rem;
            border-radius: .96133rem;
            background: #fff;
        }
    }
    .nav-text{
        font-weight: 400;
        font-size: 1.5067rem;
        color: #fff!important;
        padding-top: 0.625rem;
        display: flex;
        .right{
            position: absolute;
            right: 1rem;
        }
    }
}
.nav-text-select{
    font-weight: 700;
    font-size: 1.81067rem;
    color: #fff!important;
}
.container-box{
    align-items: center;
    width: 15.31733rem;
    height: 9.94933rem;
    border: 0.164rem solid rgb(44, 186, 254);
     width: calc(95.7vw - 1.128rem); 
     border-radius: 0.328rem;
     margin-left: 1.25rem;
     display: flex;
     flex-direction: row;
     margin-top: 0.625rem;
     overflow: hidden;
     .container-img{
        height: 10rem;
        width: 9.375rem;
        padding: 0.625rem;
    }
     .container-box-right{
        width: 35rem;
        height: 9.94933rem;
        margin-left: -0.625rem;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        .container-name{
            line-height: 0.72533rem;
            white-space: normal;
            font-size: 1.39733rem;
            padding-left: 1.25rem;
            margin-top: 1.25rem;
        }

    }
}
.container-price-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.375rem 1.25rem;
    line-height: 2.72533rem;
    .container-mark{
        font-size: 1.268rem;
        font-weight: 600;
        color: red;
        margin-top: 0.375rem;
        .container-prices{
            color: red;
            font-size: 1.768rem;
            font-weight: 600;
        }
    }
    
    .container-add{
        height: 2.25rem;
        width: 2.25rem;
        flex: 0 0 1.024rem;
        text-align: center;
        margin-top:0.625rem;
        }
}

.listPic{
    width: 100vw;
    height: 25rem;
    margin: 1.25rem 0;
}

.imgs{
    width: 100%;
    height: 16.016rem;
    padding:0 1.25rem;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     margin-bottom: 6rem;
     width: 100%;
    padding: 0.06933rem;
    .card-item{
        border: 0.164rem solid rgb(44, 186, 254);
        height: 21.6875rem;
        width: calc((100vw - 2.552rem) / 2);
        border-radius: 0.625rem;
        display:flex;
        flex-direction: column;
        background-color: #ffffff;
        overflow: hidden;
        .name{
            font-weight: 700;
            line-height: 0.72533rem;
            white-space: normal;
            font-size: 1.39733rem;
            padding-left: 1.25rem;
        }

    }
}
        .card-price-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0.625rem 1.25rem;
            line-height: 2.72533rem;
            .mark{
                font-size: 1.268rem;
                font-weight: 600;
                color: red;
                margin-top: 0.375rem;
                .prices{
                    color: red;
                    font-size: 1.768rem;
                    font-weight: 600;
                }
            }
            .add{
                height: 2.25rem;
                width: 2.25rem;
                flex: 0 0 1.024rem;
                text-align: center;
                margin-top:0.625rem ;
            }
        }





